.header {
  position: relative;
  background-color: #fd7d26;
  height: 75px;
  overflow: hidden;
}

.header .toggle {
  font-size: 40px;
  font-weight: normal;
  position: absolute;
  display: inline-block;
  top: 15px;
  left: 10px;
}

.header h1 {
  position: absolute;
  top: 17px;
  left: 50px;
  font-size: 18px;
  text-transform: uppercase;
}

.header .monkey {
  position: absolute;
  top: 15px;
  right: 15px;
  height: 50px;
}

.spin2,
.spin {
  animation: spin 0.5s linear 1;
}

@keyframes spin {
  100% {
    transform: rotate(360deg);
  }
}
