    <nav class="navbar">
      <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbar">
        &#9776;
      </button>
      <div class="collapse navbar-toggleable" id="navbar">
          <br><br>
          <div class="list-group">
            <a class="list-group-item" href="help.html">How to Help</a>
            <a class="list-group-item" href="support.html">Share Your Support</a>
            <a class="list-group-item" href="species.html">Primate Species: Pet vs. Wild</a>
            <a class="list-group-item" href="states.html">What's Happening In Your State?</a>
          </div>
          <a class="navbar-brand" href="#"></a>
      </div>
    </nav>