
.species-link-image {
  height: auto;
  width: 30%;
}

.p4-content-species .reset-li {
  background-color: #7d4900;
  padding: 0;
  margin: .5em 0;
}

.p4-content-species div {
  width: 65%;
  display: inline-block;
  padding: 0 1em;
}