@import 'https://fonts.googleapis.com/css?family=Open+Sans';
@import 'sanitize.css/sanitize';
@import 'tachyons';

html,
body {
  margin: 0;
  padding: 0;
  font-family: 'Open Sans', sans-serif;
  color: #042f32;
  background-color: #fd7d26;
  height: 100%;
}

.h2 {
  color: #a7c681;
  font-size: 20px;
  text-align: center;
  height: 50px;
  line-height: 50px;
  margin: 0;
  background-color: #544b3e;
}

[data-root] {
  height: 100%;
}

.reset {
  list-style: none;
  margin: 0;
  padding: 0;
}

.shell {
  display: flex;
  flex-direction: column;
}

main {
  background-color: #fff;
  flex: 10;
  min-height: 450px;
  padding: 0 0 2em 0;
  margin: 0 0.5em;
}

a {
  text-decoration: none;
  color: currentColor;
}

.back-link::before {
  content: '⬅';
  margin-right: 0.5em;
}

.back-link {
  display: block;
  padding: 0.5em;
  text-align: center;
  color: white;
}
