{{#extend 'layout'}}

  {{#content 'main'}}
    <div class="container">
      <h1>How to Help</h1>
      <br>
      <ul>
        <li>Article of issue - celebrity with primate, company using primate for ad, entertainment business using primate, etc.</li>
        <li>Already written letter to celebrity or business</li>
        <li>User can sign letter and send / email to company / person</li>
        <li>Link to company or celebrity Facebook - user can also attach post there</li>
      </ul>
    </div>
  {{/content}}

{{/extend}}

