{{#extend 'layout'}}

  {{#content 'nav'}}{{/content}}

  {{#content 'main'}}
    <br><br><br><br>
    <div class="container">
      <div class="list-group">
        <a class="list-group-item" href="help.html">How to Help</a>
        <a class="list-group-item" href="support.html">Share Your Support</a>
        <a class="list-group-item" href="species.html">Primate Species: Pet vs. Wild</a>
        <a class="list-group-item" href="states.html">What's Happening In Your State?</a>
      </div>
    </div>
  {{/content}}

{{/extend}}