{{#extend 'layout'}}

  {{#content 'main'}}
    <div class="container">

      <h1>Primate Species: Pet vs Wild</h1>
      <br>
      <div class="list-group">
        <a href="#long_tailed_macaque" class="list-group-item">Long Tailed Macaque</a>
      </div>

      <br><br><br><br>
      <a name="long_tailed_macaque"></a>

      <h2>Long Tailed Macaque</h2>
      <div>
      <img src="images/long_tailed_macaque.jpg">
      </div>
      <br>
      <ul>
        <li>Name - common, scientific</li>
        <li>Natural History</li>
        <li>Problems as pets / entertainment</li>
      </ul>
      <img src="images/long_tailed_macaque_info_graph.png">
    </div>
  {{/content}}

{{/extend}}
