{{#extend 'layout'}}

  {{#content 'main'}}
    <div class="container">
      <h1>Share Your Support</h1>

      <br>
      <label class="file">
        <input type="file" id="file">
        <span class="file-custom"></span>
      </label>
      <br><br>

      <div class="polaroid cursive">
        <img src="images/primate_1.jpg">
        We Are Primates &
        <br>We Are Not Pets!
      </div>

      <div class="polaroid cursive">
        <img src="images/primate_2.jpg">
        We Are Primates &
        <br>We Are Not Pets!
      </div>

      <div class="polaroid cursive">
        <img src="images/primate_3.jpg">
        We Are Primates &
        <br>We Are Not Pets!
      </div>

      <div class="polaroid cursive">
        <img src="images/primate_4.jpg">
        We Are Primates &
        <br>We Are Not Pets!
      </div>

      <div class="polaroid cursive">
        <img src="images/primate_5.jpg">
        We Are Primates &
        <br>We Are Not Pets!
      </div>

    </div>
  {{/content}}

{{/extend}}

