.usa-viewport {
  overflow-x: auto;
}

dl {
  margin: 1em;
  clear: both;
}

dt {
  float: left;
  width: 10%;
  margin: 0;
  padding: 0;
}

dl {
  float: left;
  width: 79%;
  margin: 0;
  padding: 0 0 0 10px;
}

.usa {
  width: 930px;
  height: 600px;
}

.orange {
  fill: $orange;
}

.yellow {
  fill: $yellow;
}

.blue {
  fill: $blue;
}

.green {
  fill: $green;
}

path {
  transition: all 1s;
}
